<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpectacleApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.DetailSpectacleActivity"
            android:label="activity_detail_spectacle"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!-- Métadonnées pour le bouton Retour -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name=".activities.ReservationActivity"
            android:label="activity_reservation"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!-- Métadonnées pour le bouton Retour -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name=".activities.ReservationLoggedInActivity"
            android:label="activity_reservation_logged_in"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!-- Métadonnées pour le bouton Retour -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="activity_login"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name=".activities.PaymentActivity"
            android:label="activity_payment"
            android:parentActivityName=".activities.ReservationActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.ReservationActivity" />
        </activity>

        <activity
            android:name=".activities.ConfirmationActivity"
            android:label="activity_confirmation"
            android:parentActivityName=".activities.PaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.PaymentActivity" />
        </activity>

        <activity
            android:name=".activities.SignupActivity"
            android:label="activity_signup"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>


</manifest>